body {

    width: 95%;
    min-height: 95vh;
    /*min-height: 100dvh;*/
    background-image: url(/media/background/P4AU_backgroundblur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    

   
}

.text {
    background-color: blueviolet;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.Container{
    display: flex;
    justify-content: center;
}


.Character {

    

}

.ChName{
    text-align: center;
    margin-bottom: 10%;
}

.ChPortrait{
    min-width: 150px;
    max-width: 175px;
    min-height: 250px;
    max-height: 300px;
}

.ButtonImg{
    max-width: 350px;
    max-height: 200px;
    
   
}

#bg-image{
    background-color: rgb(152, 184, 11);
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 15%;
   
    
}

table, th, td{
    border: 1px solid;
}

th, td {
    /*padding-left: 50px;*/
}

th{
    background-color: rgb(152, 184, 11);
}

td{
    background-color: rgb(168, 203, 12);
    text-align: center;

}





