{% extends "layout.html" %}
{% block content %}
    <div class="Container">
        <div class="Character">
            {% for i in characterList %}
                {% if i == button.character_id %}
                    <h1 class="ChName">{{ characterList[i] }}</h1>
                    <img class = "ChPortrait" src = media/profile_pics/P4AU_{{characterList[i]}}_Portrait.png alt = "Portrait of character">
                {% endif %}
            {% endfor %}
            <!--- <h1 class="article-title">{{ button.name }}</h1> -->
            <!---<h2 class="article-title">{{ button.damage }}</h2>-->
        </div>
    </div>

    
    
{% endblock content %}

{% block ButtonInfo  %}

   <table>
    <tr>
        <th>Name:</th>
        <th>image:</th>
        <th>damage:</th>
        <th>guard:</th>
        <th>startup:</th>
        <th>active:</th>
        <th>recovery:</th>
        <th>onblock:</th>
        <th>attr:</th>
        <th>invuln:</th>
    </tr>
    <tr>
        <td><h1 class="buttonName">{{ button.name }}</h1></td>
        <td><img class = "ButtonImg" src = {{button.image_path}}.png alt = "Image of button"></td>
        <td><p>{{button.damage}}</p></td>
        <td><p>{{button.guard}}</p></td>
        <td><p>{{button.startup}}</p></td>
        <td><p>{{button.active}}</p></td>
        <td><p>{{button.recovery}}</p></td>
        <td><p>{{button.onblock}}</p></td>
        <td><p>{{button.attribute}}</p></td>
        <td><p>{{button.invuln}}</p></td>
    </tr>
   </table>
    
    

{% endblock ButtonInfo  %}