<!DOCTYPE html>
<html>
    <head>
        <title>P4UBD</title>

        <link rel="stylesheet" href="static\css\main.css">
    </head>
    <body>
        <h1 id = "title">Persona 4 Arena Ultimax Button of the Day</h1>
        <div id="bg-image">
        
        
            <!--block for body content-->
            {% block content  %}
            {% endblock content %}
        
           
        </div>

        <div id="buttonInfo">
        
        
            <!--block for body ButtonInfo-->
            {% block ButtonInfo  %}
            {% endblock ButtonInfo %}
        
           
        </div>
    </body>
</html>